@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&family=Tinos&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html, body {
    height: 100%
}


body {
    margin: 0;
    background: #353b48;
    color: #f5f6fa;
    font-family: 'Source Sans Pro', sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    user-select: none;
    -webkit-app-region:drag;
        
}

header {
    padding-top: 2px;
    background:#273c75;
    text-align: center;
    padding-bottom: 30px;
}

h1 {
    font-size: 50px;
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Ibarra Real Nova', serif;
    padding-bottom: 12px;
    font-weight: bold;
}

p   {
    text-align: justify;
    padding-bottom: 30px;
    padding-top: 25px;
    font-size: 17px;
}


#direction {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 12px;
}

#information {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    padding: 20px 50px;
    padding-bottom: 80px;
    
}

#icon-1 {
    width: 30%;
    height: 30%;
    -webkit-app-region:no-drag;
}

.statements {
    margin-left: 100px;
}



.myButton {
	background:linear-gradient(to bottom, #7f8fa6 5%, #718093 100%);
	background-color: #7f8fa6;
	border-radius:28px;
	border:1px solid #dcdde1;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
    text-shadow:0px 1px 0px #283966;
    -webkit-app-region:no-drag;
}

.myButton:hover {
	background:linear-gradient(to bottom,#718093 5%, #7f8fa6 100%);
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButton:focus {
    outline: none;
}
        
/* ----------------------------------- Media Queries ________________________________________ */

@media screen and (max-width: 620px ) {
    p {
        font-size: 15px;
        padding-bottom: 15px;
        padding-top: 12px;
        text-align: left;
    }

    h1 {
        font-size: 35px;
    }

    .statements {
        margin-left: 50px;
    }

}

/* ------------------------------------ Journal Entry View ---------------------------*/

#modal-1 {
    display: flex;
    display: none;
    height: 100%;
    min-height: 100vh;
    background:#353b48;
    flex-flow: column;
    align-content: center;
    text-align: center;
    
}

#show-home {
    color: white;
    flex-basis: auto;
    margin: 40px;
    
}

#entry-title {
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
}

textarea {
    outline: none;
    resize: none;
    overflow: auto;
    margin: 0 20px;
    border-radius: 10px;
    border: 1px solid silver;
    padding: 0 10px;
    
}

textarea::placeholder {
    padding-top: 10px;
    color: lightgray;
}

form {
    flex-basis: auto;
}






/* ------------------------------------ Entry Display View ---------------------------*/
