.heart {
    position: relative;
    margin: 20px;
    height: 170px;
    width: 200px;
    display: inline-block;
    
}

.heart:before,
.heart:after {
    position: absolute;
    content: "";
    width: 100px;
    top: 5px;
    height: 160px;
    background: white;
    border-radius: 50px 50px 0 0;
}

.heart:before {
    left: 100px;
    transform-origin:0 100%;
    -webkit-transform-origin:0 100%;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.heart:after {
    left: 0px;
    transform-origin:100% 100%;
    -webkit-transform-origin:100% 100%;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#heart-container {
    text-align: center;
}